<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 class="head-title"> <span> </span>Online-Spiner</h1>
 <div class="container">
  <img class="spiner" id="spiner" src="../static/img/sp2.png" alt="">
 </div>
 <script type="text/javascript">
 $(function(){
   $(document).mousemove(function(e){
     $(".spiner").css({
       'transform': 'rotateZ('+ e.pageY+ 'deg)'
     });
   });
 });
 </script>
 <form class="" enctype="multipart/form-data" action="/api/v1/spiner/" method="post">
    <input type="file" name="file" value="">
    <input type="submit" name="" value="send">
 </form>
</body>
</html>
